rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // PERFIL E BIBLIOTECA
    // O uso de {document=**} permite ler/gravar o documento do usuário 
    // E TAMBÉM todas as subcoleções (como 'library')
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // COMENTÁRIOS
    match /comments/{commentId} {
      // Qualquer pessoa pode ler (público)
      allow read: if true;
      
      // Apenas logado cria
      allow create: if request.auth != null;
      
      // Apenas o dono deleta
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
